<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>sidebar</title>
<link rel="stylesheet" type="text/css" href="../style/admin.css" />
</head>
<body id="sidebar">

<dl>
	<dt>管理首页</dt>
	<dd><a href="../admin/main.php" target="main">后台首页</a></dd>
	<dd><a href="../admin/manage.php" target="main">管理员管理</a></dd>
</dl>

</body>
</html>